#kt_content_container {
    max-width: 100% !important;
}
.redBgBlink{
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1000ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        background-color:red;
    }
    to {
        background-color:white;
    }
}
@-webkit-keyframes blink {
    from {
        background-color:red;
    }
    to {
        background-color:white;
    }
}

/*Using this for show validation error in red color*/
.text-red-600 {
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
}

input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.modalDiv input {
    width: 100%;
    color: #000 !important;
    padding: 4;
    padding: 11px 15px;
    margin: 20px 0px 0px;
    border: none;
    background-color: #f5f8fa;
}

.modalDiv input::placeholder,
.requirment-second li input::placeholder {
    color: #000;
}

.modalDiv label {
    margin: 0px !important;
}

.multi-list {
    display: flex;
    max-height: 400px;
    overflow: scroll;
}

#scope-of-design .list-div ul li {
    height: 58px;
    display: flex;
}
/* #scope-of-design .modal-content{
    width:80% !important;
} */
#design-requirement .requirment-second li:nth-child(1):after {
    content: none !important;
}

.requirment-first-value,
.requirment-second-value,
.requirment-third-value,
.requirment-second,
.requirment-third,
.other-input {
    display: none;
}

.requirment-second li input {
    width: 100%;
    background-color: #f5f8fa;
    /*color: #fff !important;*/
    border: none;
}

#scope-of-design .common-requirment{
    width: 80%;
}
.menu-icon-hover,
.userHoverTask{
    display: none !important;
 }
 #kt_aside .userIconLink:hover .menu-icon-hover{
    display: block !important;
    margin-right: 10px;
 }
 .userIconTask:hover .userHoverTask{
    display: block !important;
    margin-right: 10px;
 }
 #kt_aside .userIconLink:hover .userIcon,
 .userIconTask:hover .userTask{
    display: none;
 }
#scope-of-design .requirment-second{
    width: 20%;
}
#design-requirement .common-requirment {
    width: 50%;
}

#attachment-of-design .requirment-first {
    width: 70%;
}

#attachment-of-design .requirment-second {
    width: 30%;
}

.multi-Radio {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.submit-requirment {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-requirment button {
    opacity: 1 !important;;
    width: 100%;
    margin-right: 20px !important;
}

.submit-requirment .uploadDiv {
    width: 100%;
}

.disabled {
    pointer-events: none;
}

.common-requirment {
    width: 24%;
    margin: 0px 10px;
}

.list-div ul,
.list-check-div ul {
    padding: 0px;
    list-style: none;
    /* max-height: 400px;
    overflow: scroll; */
    overflow-x: hidden;
}

.list-div ul li {
    padding: 10px;
   background-color: #f5f8fa;
    color: #000 !important;
    margin: 10px 0px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.list-check-div ul li {
    padding: 10px;
   background-color: #f5f8fa;
    color: #000 !important;
    margin: 10px 0px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

#scope-of-design .common-requirment input {
   background-color: #f5f8fa;
    color: #000 !important;
    cursor: pointer;
    position: relative;
    width: 100%;
    border: none;
}

.list-div ul li:after {
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 7px;
}
.requirment-second .list-div ul li:after{
    content: "";
}
.submit-requirment button {
    width: 100%;
    padding: 8px;
    border: none;
    color: #fff !important;
    background-color: #07d564;
    margin: 10px 0px;
}

/* obaid css */
.form-check .form-check-label {
    cursor: pointer;
    padding-top: 4px;
}

.requirment-second li input[type="radio"] {
    width: 60% !important;
    background-color: #fff !important;
    border: none;
}

.form-check .form-check-input {
    float: left;
    margin-left: -2rem !important;
}

.requirment-second li input[type="radio"]:checked {
    background-color: #009ef7 !important;
    border-color: #009ef7 !important;
}

/* .form-check-input:checked {
    background-color: #009ef7 !important;
    border-color: #009ef7 !important;
} */
.toolbar-fixed .toolbar {
    position: initial !important;
    top: 0px;
}


/******** New CSS *********/
.aside,
.aside .aside-logo,
.aside-menu .menu-item.here>.menu-link,
.aside-menu .menu-item.show>.menu-link {
    background-color: #f2f1f1;
}

.header-fixed .header {
    background-color: #fff !important;
}

.aside-menu .menu-item.here>.menu-link .menu-title,
.aside-menu .menu-item.show>.menu-link .menu-title,
.aside-menu .menu-item.here>.menu-link .menu-icon i,
.aside-menu .menu-item.show>.menu-link .menu-icon i {
    color: #07d564;
}

.aside-menu .menu-item .menu-link:hover:not(.disabled):not(.active),
.aside-menu .menu-item.hover>.menu-link:not(.disabled):not(.active) {
    background-color: #07d564;
}

.aside .aside-toggle svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #07d564;
}



.header .header-menu .menu>.menu-item>.menu-link,
.header .header-menu .menu>.menu-item>.menu-link .menu-title {
    font-weight: 600;
    color: #07d564;
}

.card>.card-header .card-title h2,
.dataTables_length label,
#DataTables_Table_0_filter label {
    color: #000 !important;
}
.btn-check:checked+.btn.btn-active-primary2{
    background-color: red;
    color:#fff;
}
.btn-check:checked+.btn.btn-active-primary,
.btn.btn-primary:hover:not(.btn-active),
.btn.btn-primary,
.header .header-menu .menu>.menu-item.hover>.menu-link:not(.disabled):not(.active),
.header .header-menu .menu>.menu-item>.menu-link:hover:not(.disabled):not(.active),
.scrolltop {
    background-color: #07d564;
    border-color: #07d564;
}

.form-control[readonly] {
    background-color: #f5f8fa;

}

.active{
    background-color: #07d564 !important;
}

.aside-logo .active{
    background-color: transparent !important;
}
#design_requirement_text{background:#f5f8fa;color:#000;}
#design_requirement_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
  }
  
  #design_requirement_text:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  #design_requirement_text::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }
  #kt_header_nav, #kt_header_nav .header-menu {
      width: 100%;
  }
  #kt_header_nav .header-menu .menu{
      display: none;
  }
  .header .header-menu .menu>.menu-item{
      
    width: 100%;
    max-width: 70%;
    margin: auto;
    margin-right: auto !important;
    padding: 10px 0px;
    justify-content: center;
    margin-left: 18%;

  }
  .menu-item .menu-link{
      display: grid;
    
  }
  .header .header-menu .menu>.menu-item a{
    color: #07d564 !important;
}canvas{
    width: 58% !important;
}
#submitbutton{
    position: relative;
    right: 21%;
    bottom: 20px;
}
.formDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formDiv .newDesignBtn{
    margin-left: 0px !important;
}
.menuBtn{
    display: none;
}
.mobileView{
    display: none;
    width: 100%;
    text-align: end;
    margin: 10px 0px;
}
.mobileView a{
    margin-bottom: 10px;
}
@media screen and (min-width: 1900px) {
    #submitbutton {
        right: 24%;
    }
}
@media screen and (min-width: 1800px) {
    #submitbutton {
        right: 24%;
    }
}
@media screen and (max-width: 1800px) {
    #submitbutton {
        right: 23.4%;
    }
}
@media screen and (max-width: 1600px) {
    #submitbutton {
        right: 22.5%;
    }
}
@media screen and (max-width: 1440px) {
    #submitbutton {
        right: 21.2%;
    }
}
@media screen and (max-width: 1310px) {
    #submitbutton {
        right: 20.5%;
    }
}
@media screen and (min-width: 1200px) {
    
    canvas{
        width:270px !important;
    }
}
@media screen and (max-width: 1150px) {
    
    #submitbutton {
        right: 20.5%;
    }
}
@media screen and (max-width: 1500px) {
    .header .header-menu .menu>.menu-item {
      max-width: 100%;
      margin-left: 0px;
    }
  }
  @media screen and (max-width: 1200px) {
    #submitbutton {
        right: 19%;
    }
    .newDesignBtn{
        margin-left: 0px !important;
        font-size: 14px !important;
        width: 150px !important;
    }
  }
  @media screen and (max-width: 1070px) {
      .card-body .col-md-2 a,
      .card-body .dropdown button{
          padding: 10px !important;
          font-size: 10px;
      }

  }
  @media screen and (max-width: 990px) {
      .card-header .topbar,
      .topbar-item .symbol-label{
          display: none;
      }
      .menu-item a{
          display: block;
      }
      #kt_header{
        display: block;
     }
    #submitbutton {
        right: 20%;
    }
      .formDiv .form{
          width: 100%;
      }
      .formDiv .form button{
        padding: 10px !important;
        margin: -6px 0px 0px 10px !important;
      }
    .menu-item {
        display: grid !important;
    }
    .menu-item a{
        text-align: left;
    }
    .drawer.drawer-on{
        z-index: 9999999999999999;
    }
    .menuBtn{
        display: block;
    }
    .desktopView{
        display: none;
    }
    .dropdown button{
        border-radius: 8px;
    }
  }
  @media screen and (max-width: 820px){
    #submitbutton {
        right: 18%;
    } 
}
  @media screen and (min-width: 768px) {
    
    .desktopView{margin-top:20px;}
    

  }
    @media screen and (max-width: 768px) {
        .card-body .dropdown button{
            border-radius: 0px !important;
        }
        .card-body.indexTempory .mb-7{
            margin-bottom: 0px !important;
        }
        .indexTempory .tableDiv,
        .indexTempory .datatable{
            padding: 0px !important;
            margin-top: 0px !important;
        }
        .indexTempory .tableDiv{
            position: relative;
            top: -30px;
        }
        .positionChange{
            position: absolute;
            bottom: 10px;
            right: 120px;
        }
        .card>.card-header .card-title .card-label{
            font-size: 14px !important;
            text-align: left;
        }
        .aside-enabled.aside-fixed .wrapper {
            padding-left: 0px !important;
        }
        .card-body  .offset-2{
            margin-left: 0px !important;
        }
        
        .card-body .text-center{
            text-align: left !important;
        }
        #submitbutton {
            right: 50%;
        }
        .tabnave{
        width: 100% !important;
    }

   
    .dropbtn{
        font-size: 12px !important;
    }
  .form-inline .form-group  input{
      width: auto !important;
  }
  .nav-group.nav-group-fluid{
      height: 40px;
  }
 .d-block{
     display: block !important;
 }
 .card>.card-body {
    padding: 33px 10px !important;
}
#scaffolding .inputDiv label{
    width: 50% !important;
}
.signatureDiv{
    display: flex;
    width: 100% !important;
    margin-bottom: 20px;
}
.uploadingDiv{
    width: 100% !important;
}

.select2-container--bootstrap5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove{
    top:77% !important;
    position: absolute;
    left:-10px !important;
    height: 0.6rem !important;
    width: 0.6rem !important;
    background-size: 51px 9px;
}
li.select2-selection__choice{
    width: 100% !important;
}
.tickboxalign{
    line-height: 24px;
}

}
@media screen and (max-width: 568px){
    #submitbutton {
        right: 45%;
    } 
    .tabnave{
        width: 100% !important;
    }
}
}
@media screen and (max-width: 414px){
    #submitbutton {
        right: 40%;
    } 
    .tabnave{
        width: 100% !important;
    }

}
@media screen and (max-width: 390px){
    #submitbutton {
        right: 39%;
        bottom: 30px;
    } 
    .tabnave{
        width: 100% !important;
    }
}
.aside-menu .menu-item.here>.menu-link, .aside-menu .menu-item.show>.menu-link{
    display: flex !important;
}
.signatureDiv{
    display: flex;
    width: 100%;
}
.uploadingDiv{
    width: 100%;
}
.modal-content{
    border-radius: 10px !important;
}
.tableDiv{
    overflow-x: scroll;
    transform: rotateX(180deg);
    height: auto !important;
}
.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    min-width: 0px !important;
  }
  table td,
  table th{
    width: auto;
    transition: width .5s, margin .5s;
  }
  .tableDiv table{
    transform: rotateX(180deg);
  }
  .table>:not(:last-child)>:last-child>*{
    vertical-align: middle !important;
  }
  .tableInputDiv strong{
      margin-bottom: 20px;
  }
  .tableInputDiv span {
    font-size: 10px;
    padding: 0px 5px;
    font-weight: 700;
}
.tableInputDiv div input{
    position: relative;
    top: 3px;
}





/* Dropdown Button */
/*.dropbtn {
    background-color: #08d564;
    color: white;
    padding: 3px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }*/
  
  /* Dropdown button on hover & focus */
  /*.dropbtn:hover, .dropbtn:focus {
    background-color: #08d564;
  }*/
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    height: 300px;
    overflow: scroll;
    padding: 5px;
    width: 200px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  #commenttable td form{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .submmitBtnDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .submmitBtnDiv input,
  .submmitBtnDiv button{
      margin: 10px 0px !important;
  }
  #commenttable td{
      vertical-align: middle;
      padding: 10px !important;
  }
  #commenttable td form button{
      padding: 5px;
  }
  #commenttable td form .replay{
      border: 1px solid #e4e6ef;
  }


  /*obaid css here*/
  .label.label-light-success {
    color:#fff ;
    background-color: #1BC5BD;
}
.label.label-inline.label-lg {
    padding: 0.2rem 0.75rem;
}
.label.label-inline {
    border-radius: 0.42rem;
}
.label.label-light-info {
    color: #fff;
    background-color: #8950FC;
}
.label.label-light-danger {
    color:#fff;
    background-color: #F64E60;
}
.label.label-light-yellow {
    color: #F64E60;
    background-color: #FFE2E5;
}

.label.label-light-green {
    color: #fff;
    background-color: green;
}